:root {
  --background-color : #0f4f75;
  --blue-component : #4fc6d1;
  --yellow-title : #dce120;
  --dark-bg : #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  background-attachment: fixed;
  
  transition: background-color 400ms linear;
}

header.scrolled{
  background-color: #3282b8;
}

nav {
  z-index: 1;
  position: fixed;
  background: #000;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15vh;
  background-color: var(--dark-bg);
  margin-top: 5rem;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width : 60%;
}

footer li, nav li {
  list-style: none;
}

footer a{
  text-decoration: underline;
  color: #fff;
}

footer p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  header li {
    font-size: 0.75rem;
  }
}