:root {
  --background-color : #0f4f75;
  /* light color */
  --background-color-light : #3282b8;

  --yellow-title : #dce120;
  --blue-title : #4fc6d1;
  --text-color : #fff;

  --dark-bg : #1c1c1c;

  --main-title-font: 'Dela Gothic One', cursive;
  --subtitle-font: 'Ubuntu', sans-serif;
  --title-font: 'Epilogue', sans-serif;
  --text-font: 'Inter', sans-serif;
  --other-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--other-font);
  background: var(--background-color);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section {
  width: 60%;
  margin-bottom: 4rem;
}

section h1 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--title-font);
  color: var(--yellow-title);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  color: var(--yellow-title)
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  color: var(--blue-title)
}

section p, section li {
  font-weight: 300;
  font-size: 1.25rem;
  font-family: var(--text-font);
  color: var(--text-color);
}

section li {
  margin-left: 4rem;
  margin-top: 0.5rem;
  list-style: square;
}

section .sub {
  margin-bottom: 2rem;
  margin-left: 4rem;
}

section img {
  width: 20rem;
  height: auto;
}

section .show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  align-items: flex-start; /* add this line */
}

.show p {
  margin-left: 1rem;
}

.gframe {
  width: 100%;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  min-height: 10rem;
  background-color: var(--background-color-light);
}

article h1 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--title-font);
  color: var(--yellow-title);
}

.title-content{
  font-family: var(--main-title-font);
  text-align: center;
}
.title-content h1{  
  font-size: 3.5rem;
  color: #fff;
}
.title-content p{
  font-family: var(--subtitle-font);
  font-size: 1.5rem;
  color: var(--text-color);
}

.blue {
  color: var(--blue-title);
}

iframe {
  aspect-ratio: 16/9;
  width: 100vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}