:root {
  --background-color : #0f4f75;
  --blue-component : #4fc6d1;
  --yellow-title : #dce120;
  --dark-bg : #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-component);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3eb5c0;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section {
  width: 60%;
  margin-top: 5rem;
}

section h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--yellow-title);
  text-align: center;
}

section h2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--yellow-title);
}

section p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #fff;
}

section li {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 4rem;
  margin-top: 0.5rem;
}



.title-content{
  font-family: 'Dela Gothic One', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title-content h1{  
  font-size: 3.5rem;
  color: #fff;
}
.title-content p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.blue {
  color: #3dd1f2;
}

iframe {
  aspect-ratio: 16/9;
  width: 100vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
  }

  .gmap {
    aspect-ratio: 1/1;
  }

  .title-content h1 {
    font-size: 2.5rem;
  }

  .title-content p {
    font-size: 1rem;
  }

  .sub-section h1 {
    font-size: 1.5rem;
  }
  
  .sub-section h2 {
    font-size: 1rem;
  }
  
  .sub-section p {
    font-size: 0.75rem;
  }

  .section-component li {
    font-size: 0.75rem;
  }

}