:root {
  --background-color : #0f4f75;
  --blue-component : #4fc6d1;
  --yellow-title : #dce120;
  --dark-bg : #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-component);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3eb5c0;
}






.title {
  width:100%;
  min-height: 80vh;
  aspect-ratio: 2/1;
  background: #000;
  position: relative;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

.title-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
}

.title-content{
  font-family: 'Dela Gothic One', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title-content h1{  
  font-size: 3.5rem;
  color: #fff;
}
.title-content p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.blue {
  color: #3dd1f2;
}

.hidden {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
}

.show {
  opacity: 1;
  transform: translateX(0px);
}


@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
}

iframe {
  aspect-ratio: 16/9;
  width: 100vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section {
  display: grid;
  align-items: center;
  place-items: center;
  min-height: 70vh;
}

.sub-section {
  display: grid;
  align-items: center;
  place-items: center;
  min-height: 50vh;
}


.sub-section h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #fff;
}

.sub-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--yellow-title);
}

.sub-section p {
  font-size: 1.25rem;
  color: #fff;
}

.section-component {
  width: 80%;
  min-height: 30vh;
  margin-bottom: 5rem;
}

.section-component li {
  font-size: 1rem;
  color: #fff;
  margin-left: 2rem;
}

.elem:nth-child(2) {
  animation-delay: 2000ms;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  background-color: var(--dark-bg);
}