header {
    background-image: url("img/bato.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    background-color: rgba(0,0,0,0);
}