:root {
    --background-color : #0f4f75;
    --blue-component : #4fc6d1;
    --yellow-title : #dce120;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--background-color);
}

h1,h2,h3 {
    color: var(--yellow-title);
}